<div class="py-5 bg-light">
	<div class="container form_body">
		<div class="row">
			<div class="col-md-12">
				<form method="POST">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="firstName">First name</label>
							<input type="text" class="form-control" name="firstName" value="Samreen" required autofocus>
						</div>
						<div class="col-md-6 mb-3">
							<label for="lastName">Last name</label>
							<input type="text" class="form-control" name="lastName" value="Reyaz" required>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="email">Email</label>
							<input type="text" class="form-control" value="example@gmail.com" name="email" required>
						</div>
						<div class="col-md-6 mb-3">
							<label for="mobile">Mobile</label>
							<input type="number" class="form-control" name="mobile" value="9833207530" required minlength="10" min="0">
						</div>
					</div>
					<div class="mb-3">
						<label for="address">Address</label>
						<textarea class="form-control" name="address" rows="5" placeholder="wijefiju9rhf" required></textarea>
					</div>
					<hr class="mb-4">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="check-in-date">Check-in Date</label>
							<input type="date" class="form-control" name="check-in-date" max="2020-12-31" min="2019-01-31" value="2019-03-25" required>
						</div>
						<div class="col-md-6 mb-3">
							<label for="check-in-time-hour">Check-in Time</label>
							<div class="input-group">
								<input type="number" class="form-control" name="check-in-time-hour" required min="0" max="12" value="2">
								<span class="input-group-text">:</span>
								<input type="number" class="form-control" name="check-in-time-minute" required min="0" max="60" maxlength="2" value="30">
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="check-out-date">Check-out Date</label>
							<input type="date" class="form-control" name="check-out-date" max="2020-12-31" min="2019-01-31" value="2019-03-26" required>
						</div>
						<div class="col-md-6 mb-3">
							<label for="check-out-time-hour">Check-out Time</label>
							<div class="input-group">
								<input type="number" class="form-control" name="check-out-time-hour" required min="0" max="12" value="3">
								<span class="input-group-text">:</span>
								<input type="number" class="form-control" name="check-out-time-minute" required min="0" max="60" maxlength="2" value="30">
							</div>
						</div>
					</div>
					<div class="mb-3">
						<label for="address">Number of people</label>
						<input type="number" class="form-control" name="people" required min="1" max="20" maxlength="2" value="2" value="2">
					</div>
					<hr class="mb-4">
					<h4 class="mb-3">Type of Room</h4>

					<div class="d-block my-3">
						<div class="custom-control custom-radio">
							<input id="ac-w-b-t" name="room-type" type="radio" class="custom-control-input" value="AC with Bathroom Toilet" checked required>
							<label class="custom-control-label" for="ac-w-b-t">AC with Bathroom Toilet</label>
						</div>
						<div class="custom-control custom-radio">
							<input id="nac-w-b-t" name="room-type" type="radio" class="custom-control-input" value="Non-AC with Bathroom Toilet" required>
							<label class="custom-control-label" for="nac-w-b-t">Non-AC with Bathroom Toilet</label>
						</div>
						<div class="custom-control custom-radio">
							<input id="nac-w-b" name="room-type" type="radio" class="custom-control-input" value="Non-AC with Bathroom without Toilet<" required>
							<label class="custom-control-label" for="nac-w-b">Non-AC with Bathroom without Toilet</label>
						</div>
						<div class="custom-control custom-radio">
							<input id="nac" name="room-type" type="radio" class="custom-control-input" value="Non-AC without Bathroom Toilet" required>
							<label class="custom-control-label" for="nac">Non-AC without Bathroom Toilet</label>
						</div>
					</div>
					<hr class="mb-4">
					<button class="btn btn-danger btn-lg btn-block" type="submit">Submit Room Booking Form</button>
				</form>
			</div>
		</div>
	</div>
</div>
