<header>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
		<!--logo-->
		<a href="sssm-home" class="mx-2"><img  style="height: 35px;" src="../static/images/sssm-logo.png"></a>
		<a class="navbar-brand" href="sssm-home"><b>Shree Shyam Satsang Mandal</b></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<!--mr-auto: https://getbootstrap.com/docs/4.0/utilities/spacing/-->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="sssm-home">Home</a>
				</li>
				<!-- <li class="nav-item dropdown"> --> 
				<!-- <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
				<div class="dropdown-menu" aria-labelledby="dropdown02">
					<a class="dropdown-item" href="sssm-calender">Event Calender</a>
				</div> -->
				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown">About</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="sssm-shyambaba">Shyam Baba</a>
						<a class="dropdown-item" href="sssm-mandal">Mandal</a>
						<a class="dropdown-item" href="sssm-dharamshala">Dharamshala</a>
						<a class="dropdown-item" href="sssm-trustees">Trustees</a>
						<a class="dropdown-item" href="sssm-committee">Managing Committee</a>
						<a class="dropdown-item" href="sssm-developers">Website Developers</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown">Forms</a>
					<div class="dropdown-menu" aria-labelledby="dropdown03">
						<a class="dropdown-item" href="sssm-query">Query</a>
						<a class="dropdown-item" href="sssm-roombooking">Room Booking</a>
						<a class="dropdown-item" href="sssm-membership">Member Information</a>
					</div>
				</li>

				<li>
					<a class="nav-link" href="sssm-calender">Calender</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="sssm-gallery">Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="sssm-downloads">Bhajan Mala</a>
				</li>
				
			</ul>
			<!--my-2: https://getbootstrap.com/docs/4.0/utilities/spacing/-->
			<a href="sssm-supportus"><button class="btn btn-danger my-2 my-sm-0" type="submit">Support Us</button></a>
		</div>
	</nav>
</header>