<div class="py-5 bg-light">
			<div class="container form_body">
				<div class="row">
					<div class="col-md-12">
						<form method="POST">
							<div class="row">
								<div class="col-md-6 mb-3">
									<label for="firstName">First name</label>
									<input type="text" class="form-control" name="firstName" required autofocus>
								</div>
								<div class="col-md-6 mb-3">
									<label for="lastName">Last name</label>
									<input type="text" class="form-control" name="lastName"required>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 mb-3">
									<label for="email">Email</label>
									<input type="text" class="form-control" placeholder="example@gmail.com" name="email" required>
								</div>
								<div class="col-md-6 mb-3">
									<label for="birth-date">Birth Date</label>
									<input type="date" class="form-control" name="birth-date" max="2010-12-31" min="1950-12-31" required>
								</div>
							</div>

							<div class="mb-3">
								<label for="address">Address</label>
								<textarea class="form-control" name="address" rows="5" required></textarea>
							</div>

							<div class="mb-3">
								<label for="occupation">Occupation</label>
								<input type="text" class="form-control" name="occupation" required>
							</div>

							<div class="row">
								<div class="col-md-4 mb-3">
									<label for="landline">Landline</label>
									<input type="number" class="form-control" name="landline" placeholder="022xxxxxxxx" minlength="8" min="0">
								</div>
								<div class="col-md-4 mb-3">
									<label for="office">Office</label>
									<input type="number" class="form-control" name="office" placeholder="022xxxxxxxx" minlength="8" min="0">
								</div>
								<div class="col-md-4 mb-3">
									<label for="mobile">Mobile</label>
									<input type="number" class="form-control" name="mobile" placeholder="xxxxxxxxxx" required minlength="10" min="0">
								</div>
							</div>
							<hr class="mb-4">

							<h4 class="mb-3">Family members</h4>

							<div class="row">
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" name="fm1-name" placeholder="Name" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" name="fm1-relation" placeholder="Relation" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="date" class="form-control" name="fm1-birth-date" placeholder="Birth date" max="2010-12-31" min="1950-12-31" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" name="fm2-name" placeholder="Name" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" name="fm2-relation" placeholder="Relation" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="date" class="form-control" name="fm2-birth-date" placeholder="Birth date" max="2010-12-31" min="1950-12-31" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" name="fm3-name" placeholder="Name" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" name="fm3-relation" placeholder="Relation" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="date" class="form-control" name="fm3-birth-date" placeholder="Birth date" max="2010-12-31" min="1950-12-31" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" name="fm4-name" placeholder="Name" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" name="fm4-relation" placeholder="Relation" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="date" class="form-control" name="fm4-birth-date" placeholder="Birth date" max="2010-12-31" min="1950-12-31" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" name="fm5-name" placeholder="Name" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" name="fm5-relation" placeholder="Relation" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="date" class="form-control" name="fm5-birth-date" placeholder="Birth date" max="2010-12-31" min="1950-12-31" required>
								</div>
							</div>

							<hr class="mb-4">
							<button class="btn btn-danger btn-lg btn-block" type="submit">Submit Membership Form</button>
						</form>
					</div>
				</div>
			</div>
		</div>