<div class="py-5 bg-light">
	<div class="container form_body">
		<div class="row">
			<div class="col-md-12">
				<form name="memForm" onsubmit = "formValidate()"  method="POST">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="firstName">First name</label>
							<input type="text" class="form-control" name="firstName" placeholder ="First Name" required autofocus>
						</div>
						<div class="col-md-6 mb-3">
							<label for="lastName">Last name</label>
							<input type="text" class="form-control" name="lastName" placeholder="Last Name" required>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="email">Email</label>
							<input type="email" class="form-control" placeholder="example@gmail.com" name="email" required>
						</div>
						<div class="col-md-6 mb-3">
							<label for="birth_date">Birth Date</label>
							<input type="date" class="form-control" name="birth-date" placeholder="2010-12-31" max="2001-12-31" min="1930-12-31" required>
						</div>
					</div>

					<div class="mb-3">
						<label for="address">Address</label>
						<textarea class="form-control" name="address" rows="5" required></textarea>
					</div>

					<div class="mb-3">
						<label for="occupation">Occupation</label>
						<input type="text" class="form-control" name="occupation" placeholder="Business" required>
					</div>

					<div class="row">
						<div class="col-md-4 mb-3">
							<label for="landline">Landline</label>
							<input type="number" class="form-control" name="landline" placeholder="02226658646" minlength="8" min="0">
						</div>
						<div class="col-md-4 mb-3">
							<label for="office">Office</label>
							<input type="number" class="form-control" name="office" placeholder="02226658646" minlength="8" min="0">
						</div>
						<div class="col-md-4 mb-3">
							<label for="mobile">Mobile</label>
							<input type="number" class="form-control" name="mobile" placeholder="9833207530" required size="10" min="0">
						</div>
					</div>
					<hr class="mb-4">

					<h4 class="mb-3">Family members</h4>

					<div class="row">
						<div class="col-md-4 mb-3">
							<input type="text" class="form-control" name="fm1_name" placeholder="Name" >
						</div>
						<div class="col-md-4 mb-3">
							<input type="text" class="form-control" name="fm1_relation" placeholder="Relation" >
						</div>
						<div class="col-md-4 mb-3">
							<input type="date" class="form-control" name="fm1_birth_date" placeholder="1998-12-31" max="2010-12-31" min="1950-12-31" >
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 mb-3">
							<input type="text" class="form-control" name="fm2_name" placeholder="Name" >
						</div>
						<div class="col-md-4 mb-3">
							<input type="text" class="form-control" name="fm2_relation" placeholder="Relation"  >
						</div>
						<div class="col-md-4 mb-3">
							<input type="date" class="form-control" name="fm2_birth_date" placeholder="1998-12-31" max="2010-12-31" min="1950-12-31"  >
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 mb-3">
							<input type="text" class="form-control" name="fm3_name" placeholder="Name"  >
						</div>
						<div class="col-md-4 mb-3">
							<input type="text" class="form-control" name="fm3_relation" placeholder="Relation"  >
						</div>
						<div class="col-md-4 mb-3">
							<input type="date" class="form-control" name="fm3_birth_date" placeholder="1998-12-31" max="2010-12-31" min="1950-12-31"  >
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 mb-3">
							<input type="text" class="form-control" name="fm4_name" placeholder="Name"  >
						</div>
						<div class="col-md-4 mb-3">
							<input type="text" class="form-control" name="fm4_relation" placeholder="Relation"  >
						</div>
						<div class="col-md-4 mb-3">
							<input type="date" class="form-control" name="fm4_birth_date" placeholder="1998-12-31" max="2010-12-31" min="1950-12-31"  >
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 mb-3">
							<input type="text" class="form-control" name="fm5_name" placeholder="Name"  >
						</div>
						<div class="col-md-4 mb-3">
							<input type="text" class="form-control" name="fm5_relation" placeholder="Relation"  >
						</div>
						<div class="col-md-4 mb-3">
							<input type="date" class="form-control" name="fm5_birth_date" placeholder="1998-12-31" max="2010-12-31" min="1950-12-31"  >
						</div>
					</div>

					<hr class="mb-4">
					<button class="btn btn-danger btn-lg btn-block" type="submit">Submit Membership Form</button>
				</form>
			</div>
		</div>
	</div>
</div>