<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSSM-Gallery</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/profile_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	{% include 'header.html' %}

	<main>
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Gallery</h1>
				<p class="lead text-muted">Here you can find images of our Mandal and its events.</p>
			</div>
		</section>

		<div class="py-5 bg-light">
			<div class="container">

				<div class="row">
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../static/images/A.jpg" alt="Random Image">
							<div class="card-body">
								<p class="card-text">Event description. Event description. Event description.</p>
								<small class="text-muted">16/03/2019</small>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../static/images/A.jpg" alt="Random Image">
							<div class="card-body">
								<p class="card-text">Event description. Event description. Event description.</p>
								<small class="text-muted">16/03/2019</small>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../static/images/A.jpg" alt="Random Image">
							<div class="card-body">
								<p class="card-text">Event description. Event description. Event description.</p>
								<small class="text-muted">16/03/2019</small>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../static/images/A.jpg" alt="Random Image">
							<div class="card-body">
								<p class="card-text">Event description. Event description. Event description.</p>
								<small class="text-muted">16/03/2019</small>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../static/images/A.jpg" alt="Random Image">
							<div class="card-body">
								<p class="card-text">Event description. Event description. Event description.</p>
								<small class="text-muted">16/03/2019</small>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../static/images/A.jpg" alt="Random Image">
							<div class="card-body">
								<p class="card-text">Event description. Event description. Event description.</p>
								<small class="text-muted">16/03/2019</small>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../static/images/A.jpg" alt="Random Image">
							<div class="card-body">
								<p class="card-text">Event description. Event description. Event description.</p>
								<small class="text-muted">16/03/2019</small>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../static/images/A.jpg" alt="Random Image">
							<div class="card-body">
								<p class="card-text">Event description. Event description. Event description.</p>
								<small class="text-muted">16/03/2019</small>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../static/images/A.jpg" alt="Random Image">
							<div class="card-body">
								<p class="card-text">Event description. Event description. Event description.</p>
								<small class="text-muted">16/03/2019</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{% include 'footer.html' %}
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>