<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSSM-Bhajan Mala</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/profile_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	{% include 'header.html' %}

	<main>
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Bhajan Mala</h1>
				<p class="lead text-muted">Download PDFs of your favourite bhajans here.</p>
			</div>
		</section>

		<div class="py-5 bg-light">
			<div class="container">
				<h3>Click individual items to download</h3>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Aarti Calender</h5>
							<form method="POST">
								<hide><input type="hidden" name="filename" value="aarti"></hide>
								<button>Download</button>
							</form>
							<small><span id="size">10</span>MB &middot; <span id="days">10</span> days ago</small>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Bhajan Book</h5>
							<form method="POST">
								<hide><input type="hidden" name="filename" value="bbook"></hide>
								<button>Download</button>
							</form>
							<small><span id="size">10</span>MB &middot; <span id="days">10</span> days ago</small>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Bhajan 388</h5>
							<form method="POST">
								<hide><input type="hidden" name="filename" value="b388"></hide>
								<button>Download</button>
							</form>
							<small><span id="size">10</span>MB &middot; <span id="days">10</span> days ago</small>
						</div>
					</a>
					<a href="#" class="list-group-item list-group-item-action align-items-start">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Lal Gulab</h5>
							<form method="POST">
								<hide><input type="hidden" name="filename" value="lalgulab"></hide>
								<button>Download</button>
							</form>
							<small><span id="size">10</span>MB &middot; <span id="days">10</span> days ago</small>
						</div>
					</a>
				</div>
			</div>
		</div>
	</main>

	{% include 'footer.html' %}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>