<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSSM-Mandal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/profile_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<link href="fonts.googleapis.com/css?family=Hind"  rel="stylesheet">
</head>
<body>
	{% include 'header.html' %}

	<main>
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Mandal</h1>
				<p class="lead text-muted">Shree Shyam Satsang Mandal</p>
			</div>
		</section>

		<div class="py-5 bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						{% include 'content/mandal.html' %}
						
					</div>
					<div class="col-md-4">
						<img class="bd-placeholder-img" width="100%" height="250" src="../static/images/gallery/IMG_20190311_173707.jpg">
					</div>
				</div>
			</div>
		</div>
	</main>

	{% include 'footer.html' %}
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>