<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSSM-Dharamshala</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/profile_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	{% include 'header.html' %}

	<main>
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Dharamshala</h1>
				<p class="lead text-muted">...</p>
			</div>
		</section>

		<div class="py-5 bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<p>Shree Shyam Satsang Mandal has Built and maintains a Dharamshala Called the <b>Satsang Bhavan</b> in KhatuShyamji. This Dharamshala has <h1>X</h1> Rooms with modern facilities availale.</p>
						<p>Facilities such as <br><ul>
							<li>Attached Westerrn Toilet*</li>
							<li>Attached Bathroom*</li>
							<li>Air Conditioner System*</li>
							<li>Desert Cooler*</li>
							<li>24hr gas geyzer**</li>
							<li>Kitchen services with meals at nominal charges</li>
							<li>RO Purified water</li>
							<li>Lift</li>
							<li>CCTV Monitering</li>
							<li>Common Toilets and Bathrooms</li></ul> are available at the Dharamshala.</p>
						<p>The Dharamshala is famously known as the "Mumbai Ki Dharamshala" and is located on the main road about a 1km walk from the temple. There is a SBBJ branch and ATM located right opposite the Dharamshala.</p>
						<p>Every month on the eve of Shukla Pakshi Ekadashi the mandal organises a <b>free of cost medical camp</b> at the Dharamshala.</p>
						<p>*Not available in all rooms<br>**Common facility available on each floor</p>
						
					</div>
					<div class="col-md-4">
						<img class="bd-placeholder-img" width="200" height="250" src="../static/images/C.jpg">
					</div>
				</div>
			</div>
		</div>
	</main>

	{% include 'footer.html' %}
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>