<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSSM-Managing Committee</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/profile_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	{% include 'header.html' %}

	<main>
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Managing Committee</h1>
				<p class="lead text-muted">Shree Shyam Satsang Mandal's Dynamic and Energetic Management Commitee for 2018-2020 is as follows.</p>
			</div>
		</section>

		<div class="py-5 bg-light">
			<div class="container">
				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Babulalji Parasrampuria</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Trustee, President</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/male.jpg">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Shreekrishanji Havelia</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Vice President</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/male.jpg">
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Anupji Himmatramka</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Secretary</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/mgmtcom/anup1.jpg">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Rajeshji Tibrewal</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Treasurer</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/mgmtcom/rajesht.jpg">
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Vinodji Khetan</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Joint Secretary</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/mgmtcom/vinod.jpg.png">
							</div>
						</div>
					</div>
				
					
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Sanjayji Parasrampuria</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Joint Secretary</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/mgmtcom/sanjayp.jpg1.png">
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Rajeshji Gadodia</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Joint Treasurer</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/mgmtcom/rajeshg.jpg.png">
							</div>
						</div>
					</div>
				
					
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Jitendraji Khetan</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Member</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/mgmtcom/jeetu.jpg.png">
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Kailashji Kejriwal</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Member</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/male.jpg">
							</div>
						</div>
					</div>
				
					
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Lalitji Saraf</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Member</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/mgmtcom/lalit.jpg.png">
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Rajeshji Khetan</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Member</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/male.jpg">
							</div>
						</div>
					</div>
				
					
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Shivkumarji D. Poddar</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Member</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/mgmtcom/shivkumarpoddar.jpg.png">
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Narendraji Surekha</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Member</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/male.jpg">
							</div>
						</div>
					</div>
				
					
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Sureshji Parasrampuria</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Member</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/male.jpg">
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Umeshji Singhania</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Member</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/mgmtcom/umeshsinghania.jpg">
							</div>
						</div>
					</div>
				
					
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Jagdishji Dharnidharka</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Invited Member</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/male.jpg">
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Shree Dineshji Agarwal</h4>
								<div class="mb-1 text-muted"></div>
								<hr class="mb-4">
								<p class="card-text mb-auto">Invited Member</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/male.jpg">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{% include 'footer.html' %}
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>