<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSSM-Membership</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/form_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	{% include 'header.html' %}

	<main>
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Membership Form</h1>
				<p class="lead text-muted">Fill and submit this form to join our Mandal.</p>
			</div>
		</section>

		<div class="py-5 bg-light">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<form>
							<div class="row">
								<div class="col-md-6 mb-3">
									<label for="firstName">First name</label>
									<input type="text" class="form-control" id="firstName" required autofocus>
								</div>
								<div class="col-md-6 mb-3">
									<label for="lastName">Last name</label>
									<input type="text" class="form-control" id="lastName"required>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 mb-3">
									<label for="email">Email</label>
									<input type="text" class="form-control" placeholder="example@gmail.com" id="email" required>
								</div>
								<div class="col-md-6 mb-3">
									<label for="birth-date">Birth Date</label>
									<input type="date" class="form-control" id="birth-date" max="2010-12-31" min="1950-12-31" required>
								</div>
							</div>

							<div class="mb-3">
								<label for="address">Address</label>
								<textarea class="form-control" id="address" rows="5" required></textarea>
							</div>

							<div class="mb-3">
								<label for="occupation">Occupation</label>
								<input type="text" class="form-control" id="occupation" required>
							</div>

							<div class="row">
								<div class="col-md-4 mb-3">
									<label for="landline">Landline</label>
									<input type="number" class="form-control" id="landline" placeholder="022xxxxxxxx" minlength="8" min="0">
								</div>
								<div class="col-md-4 mb-3">
									<label for="office">Office</label>
									<input type="number" class="form-control" id="office" placeholder="022xxxxxxxx" minlength="8" min="0">
								</div>
								<div class="col-md-4 mb-3">
									<label for="mobile">Mobile</label>
									<input type="number" class="form-control" id="mobile" placeholder="xxxxxxxxxx" required minlength="10" min="0">
								</div>
							</div>
							<hr class="mb-4">

							<h4 class="mb-3">Family members</h4>

							<div class="row">
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" id="fm1-name" placeholder="Name" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" id="fm1-relation" placeholder="Relation" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="date" class="form-control" id="fm1-birth-date" placeholder="Birth date" max="2010-12-31" min="1950-12-31" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" id="fm2-name" placeholder="Name" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" id="fm2-relation" placeholder="Relation" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="date" class="form-control" id="fm2-birth-date" placeholder="Birth date" max="2010-12-31" min="1950-12-31" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" id="fm3-name" placeholder="Name" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" id="fm3-relation" placeholder="Relation" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="date" class="form-control" id="fm3-birth-date" placeholder="Birth date" max="2010-12-31" min="1950-12-31" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" id="fm4-name" placeholder="Name" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" id="fm4-relation" placeholder="Relation" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="date" class="form-control" id="fm4-birth-date" placeholder="Birth date" max="2010-12-31" min="1950-12-31" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" id="fm5-name" placeholder="Name" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="text" class="form-control" id="fm5-relation" placeholder="Relation" required>
								</div>
								<div class="col-md-4 mb-3">
									<input type="date" class="form-control" id="fm5-birth-date" placeholder="Birth date" max="2010-12-31" min="1950-12-31" required>
								</div>
							</div>

							<hr class="mb-4">
							<button class="btn btn-danger btn-lg btn-block" type="submit">Submit Membership Form</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

	{% include 'footer.html' %}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>