@@ -1,128 +0,0 @@
<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSSM-Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/home_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	{% include 'header.html' %}

	<!--contains main part of page-->
	<main>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<!--The .active class needs to be added to one of the slides otherwise the carousel will not be visible-->
				<div class="carousel-item active">
					<div class="mx-0">
						<img class="d-block w-100" src="../static/images/gallery/IMG_20190311_173707.jpg" alt="First slide">
						<div class="carousel-caption text-left">
							<div class="inner-banner">
								<h1>Dharamshala</h1>
								Shree Shyam Satsang Mandal Runs and maintains "Satsang Bhavan" at Khatushyamji which has over 200 rooms.
							</div>
							<a href="sssm-roombooking"><button class="btn btn-danger">Request Room</button></a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="mx-0">
						<img class="d-block w-100" src="../static/images/B.jpg" alt="First slide">
						<div class="carousel-caption text-left">
							<div class="inner-banner">
								<h1>Latest Event</h1>
								Check out our calender to find out about the latest Ekadashi Dates and Kirtan Information
							</div>
							<form action="sssm-calender">
								<a href="sssm-calender"><button class="btn btn-danger">See all events</button></a>
							</form>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="mx-0">
						<img class="d-block w-100" src="../static/images/C.jpg" alt="First slide">
						<div class="carousel-caption text-left">
							<h1>Gallery</h1>
							<div class="row">

								{% for image_name in image_names %}

								<div class="col-md-4">
									<div class="card mb-4 shadow-sm">
										<img id="gallery-carousel" class="bd-placeholder-img card-img-top" width="100%" height="150" src="static/images/home/{{image_name}}" alt="Random Image" style="object-fit: cover;">
									</div>
								</div>

								{% endfor %}

							</div>
							<a href="sssm-gallery"><button class="btn btn-danger">Explore</button></a>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

		<div class="sections">
			<div class="row featurette">
				<div class="col-md-7 order-md-2">
					<h2 class="featurette-heading">Shree Shyam Baba <span class="text-muted"></span></h2>
					Shyam baba is the Lord of Kalyuga. He is the son of the Pandav Bheem.he is worshipped as the incarnation of Lord Krishna with a great festival whic takes place in the hindu month of Phalgun.<br><br>
					<a href="sssm-shyambaba"><button class="btn btn-outline-danger">Know More</button></a>
				</div>
				<div class="col-md-5 order-md-1">
					<img src="../static/images/A.jpg" class="d-block w-100">
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading">The Mandal <span class="text-muted"></span></h2>
					the mandal was setup in 1972 to spread the name of Lord Shyam. Jai Baba Ki<br><br>
					<a href="sssm-mandal"><button class="btn btn-outline-danger">View More</button></a>
				</div>
				<div class="col-md-5">
					<img src="../static/images/B.jpg" class="d-block w-100">
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7 order-md-2">
					<h2 class="featurette-heading">Temple<span class="text-muted"></span></h2>
					The Shyam Baba temple in Khatushyamji is handled by the mandir committee and sees lakhs of visitors each month. Another temple in Reengus also sees its fair share of visitors. more content to come. Teen Baan Dhaari Ki Jai<br><br>
				</div>
				<div class="col-md-5 order-md-1">
					<img src="../static/images/A.jpg" class="d-block w-100">
				</div>
			</div>
		</div>
	</main>

	{% include 'footer.html' %}
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>