<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSSM-Mandal</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/profile_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	{% include 'header.html' %}

	<main>
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Mandal</h1>
				<p class="lead text-muted">As long as you love me.</p>
			</div>
		</section>

		<div class="py-5 bg-light">
			<div class="container">
				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Samreen Reyaz</h4>
								<div class="mb-1 text-muted">Since 0 Years</div>
								<hr class="mb-4">
								<p class="card-text mb-auto">I am a tea-pot short and stout. This is my handle and this is my spout. When the water's boiling hear me shout. Pick me up and pour me out!</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/C.jpg">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Samreen Reyaz</h4>
								<div class="mb-1 text-muted">Since 0 Years</div>
								<hr class="mb-4">
								<p class="card-text mb-auto">I am a tea-pot short and stout. This is my handle and this is my spout. When the water's boiling hear me shout. Pick me up and pour me out!</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/B.jpg">
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Samreen Reyaz</h4>
								<div class="mb-1 text-muted">Since 0 Years</div>
								<hr class="mb-4">
								<p class="card-text mb-auto">I am a tea-pot short and stout. This is my handle and this is my spout. When the water's boiling hear me shout. Pick me up and pour me out!</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/C.jpg">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row no-gutters border rounded overflow-hidden mb-4 shadow-sm">
							<div class="col p-4 flex-column">
								<h4 class="mb-0">Samreen Reyaz</h4>
								<div class="mb-1 text-muted">Since 0 Years</div>
								<hr class="mb-4">
								<p class="card-text mb-auto">I am a tea-pot short and stout. This is my handle and this is my spout. When the water's boiling hear me shout. Pick me up and pour me out!</p>
							</div>
							<div class="col-auto d-none d-lg-block">
								<img class="bd-placeholder-img" width="200" height="250" src="../static/images/B.jpg">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{% include 'footer.html' %}
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>