<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSSM-Developers</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/profile_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	{% include 'header.html' %}

	<main>
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Website Developers</h1>
			</div>
		</section>

		<div class="py-5 bg-light">
			<div class="container">
				<div class="row mb-2">
					<div class="col-md-3">
						<div class="col p-1 flex-column">
							<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
							<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="anant-gadodia-54637bb9"><a class="LI-simple-link" href='https://in.linkedin.com/in/anant-gadodia-54637bb9?trk=profile-badge'>Anant GADODIA</a></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col p-1 flex-column">
							<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
							<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="dishant-bhatt-ab75b4153"><a class="LI-simple-link" href='https://in.linkedin.com/in/dishant-bhatt-ab75b4153?trk=profile-badge'>Samreen Reyaz</a></div>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="col p-1 flex-column">
							<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
							<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="gabriel-francis"><a class="LI-simple-link" href='https://in.linkedin.com/in/gabriel-francis?trk=profile-badge'>Gabriel Francis</a></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="col p-1 flex-column">
							<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
							<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="samreen-reyaz"><a class="LI-simple-link" href='https://in.linkedin.com/in/samreen-reyaz?trk=profile-badge'>Samreen Reyaz</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{% include 'footer.html' %}
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
