<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSSM-Membership</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/form_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
	{% include 'header.html' %}

	<main>
		<section class="jumbotron text-center">
			<div class="container form_body">
				<h1 class="jumbotron-heading">Membership Form</h1>
				<p class="lead text-muted">Fill and submit this form to join our Mandal.</p>
			</div>
		</section>

		{% if form==1 %}
			{% include 'membership-form.html' %}
		{% elif form==2 %}
			{% include 'success.html' %}
		{% elif form==3 %}
			{% include 'failure.html' %}
		{% endif %}

	</main>

	{% include 'footer.html' %}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>