<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSSM-Query</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/form_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
</head>
<body>
	{% include 'header.html' %}

	<main>
		<section class="jumbotron text-center">
			<div class="container form_body">
				<h1 class="jumbotron-heading">Query Form</h1>
				<p class="lead text-muted">Please fill this form along with your query. We will get back to you ass soon as possible.</p>
			</div>
		</section>

		<div class="py-5 bg-light">
			<div class="container form_body">
				<div class="row">
					<div class="col-md-12">
						<form>
							<div class="row">
								<div class="col-md-6 mb-3">
									<label for="firstName">First name</label>
									<input type="text" class="form-control" id="firstName" required autofocus>
								</div>
								<div class="col-md-6 mb-3">
									<label for="lastName">Last name</label>
									<input type="text" class="form-control" id="lastName"required>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6 mb-3">
									<label for="email">Email</label>
									<input type="text" class="form-control" placeholder="example@gmail.com" id="email" required>
								</div>
								<div class="col-md-6 mb-3">
									<label for="mobile">Mobile</label>
									<input type="number" class="form-control" id="mobile" placeholder="xxxxxxxxxx" required minlength="10" min="0">
								</div>
							</div>
							<hr class="mb-4">
							<div class="mb-3">
								<h4 class="mb-3">Query</h4>
								<textarea class="form-control" id="query" rows="6" required></textarea>
							</div>
							<hr class="mb-4">
							<button class="btn btn-danger btn-lg btn-block" type="submit">Submit Query</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>

	{% include 'footer.html' %}

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>