<p>Shree Shyam Satsang Mandal has Built and maintains a Dharamshala Called the <b>Satsang Bhavan</b> in KhatuShyamji. This Dharamshala has <b>147</b>/h1> Rooms with modern facilities availale.</p>
<p>Facilities such as <br><ul>
	<li>Attached Western Toilet*</li>
	<li>Attached Bathroom*</li>
	<li>AC Rooms*</li>
	<li>Desert Cooler*</li>
	<li>24hr gas geyzer**</li>
	<li>Kitchen services with meals(Breakfast, Lunch and Dinner) at nominal charges</li>
	<li>RO Purified water</li>
	<li>Lift</li>
	<li>CCTV Monitering</li>
	<li>Common Toilets and Bathrooms</li></ul> are available at the Dharamshala.</p>
	<p>The Dharamshala is famously known as the "Mumbai Ki Dharamshala" and is located on the main road about a 800m walk from the temple. There is a SBI branch and ATM located right opposite the Dharamshala.</p>
	<p>Every month on the eve of Shukla Paksh Ekadashi the mandal organises a Shyam Baba Kirtan.</p>
	<p> Every Sunday a <b>free of cost HOmoepathy medical camp</b> is organised at the Dharamshala.</p>
	<p>During the Annual Phalgun Mela, the following activities are held by the mandal:<br><ul><li>Free Food Ditribution</li><li> Free Mini hospital setup for 4 days with 24hrs doctor on call for Darshan Padyatris</li><li>Accupreassure camp</li></ul></p>
	<p>*Available in Select Rooms<br>**Common facility available on each floor</p>