<!DOCTYPE html>
<html lang="en">
<head>
	<title>SSSM-Support Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/supportus_style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">
</head>
<body>
	{{header.html}}

	<main>
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Support Us</h1>
				<p class="lead text-muted">Show us some love you morons. Money Money Moneyyyyy.</p>
			</div>
		</section>

		<div class="py-5 bg-light">
			<div class="container">
				<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Help us grow <3</h1>
          <p class="lead">Pls send money.</p>
        </div>

        <div class="container">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Gift Coffee</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">&#8377 100</h1>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger" id="hundred">Donate</button>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Gift Breakfast</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">&#8377 200</h1>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger" id="two-hundred">Donate</button>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Small</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">&#8377 300</h1>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger" id="three-hundred">Donate</button>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Small</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">&#8377 500</h1>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger" id="four-hundred">Donate</button>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Small</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">&#8377 500</h1>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger" id="five-hundred">Donate</button>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Small</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">&#8377 1000</h1>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger" id="thousand">Donate</button>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Small</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">&#8377 1500</h1>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger" id="fifteen-hundred">Donate</button>
              </div>
            </div>
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Small</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">&#8377 2000</h1>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger" id="two-thousand">Donate</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{footer.html}}
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>