body {
	padding-top: 3rem;
	padding-bottom: 1rem;
	align-items: center;
	color: #5a5a5a;
	background-color: #EBEDEF;
	font-family: 'Gilroy-Regular';
}
@font-face {
	font-family: 'Gilroy-Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Gilroy-Regular ☞'), url('Gilroy-Regular.woff') format('woff');
}
@media (min-width: 320px) and (max-width: 767px) {
	body	{
		padding-top: 5rem;
	}
}

