body {
	padding-top: 3rem;
	padding-bottom: 1rem;
	align-items: center;
	color: #5a5a5a;
	background-color: #EBEDEF;
	font-family: 'Gilroy-Regular';
}
@font-face {
	font-family: 'Gilroy-Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Gilroy-Regular ☞'), url('Gilroy-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Gilroy-Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Gilroy-Medium ☞'), url('Gilroy-Medium.woff') format('woff');
}
