.content {
	padding: 3rem 1.5rem;
	text-align: center;
}

/*Carousel*/
.carousel, .carousel-caption {
	margin-bottom: 3.5rem;
}
.carousel-item {
	height: 25rem;
}
.inner-banner	{
	background-color: #00000070;
	padding: 10px;
	margin-bottom: 10px; 
	border-radius: 10px;
}
/*sections*/
.sections	{
	margin: 0 10rem;
}
.featurette-divider {
	margin: 3rem 0rem;
}
.featurette-heading {
	font-size: 3rem;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -.05rem;
	margin-bottom: 2rem;
}
@media (min-width: 320px) and (max-width: 767px) {
	#gallery-carousel	{
		height: 50px;
		width: 30%;
	}
}

